// Fonts
$font-logo-size: 9rem;
$font-logo-family: 'Impact', sans-serif;
$font-text: 'Lora', 'Merriweather', serif;
$font-info: "courier new", courier, monospace;


// Colours
$blue: #1d4350;
$red: #a43931;
$silver: #eee;