- var $text = "GIBΞRNΛCIΔ.0";
doctype html
html(class="no-js", lang="en")
  head
    title #{$text}
    meta(charset="utf-8")
    meta(viewport="utf-8" content="width=device-width")
    meta(name="google-site-verification", content="hfq9s8LsjYPjz0GULCmSrQVnTLDqjhrcF22poZdZeSg")

    link(rel="stylesheet", href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css")
    link(rel="stylesheet", href="css/main.css")
    link(href="https://fonts.googleapis.com/css?family=Lora:400,400i,700&amp;subset=cyrillic", rel="stylesheet")

  body

    //- Title
    .panel.panel-title
      .column
        img(src="https://i.imgur.com/EZGfLqal.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title #{$text}
          span.poem-title-bottom
            span.part-title #{$text}

        .content.proza
          .hide
            <ul data-toc></ul>

          <ul>
            <li><strong>Вступление</strong></li>
            <li><a href="#GIBERNACID.0GIBERNACID.0">Content</a></li>
            <li><a href="#IntroIntro">Intro</a></li>
            <li><a href="#PreversePreverse">Preverse</a></li>
            <li><a href="#PrefacePreface">Preface</a></li>
            <li>&nbsp;</li>
            <li><strong>Сцены</strong></li>
            <li><a href="#Scene_#1_-_FrankScene_#1_-_Frank">Scene #1 - Frank</a></li>
            <li><a href="#Scene_#2_-_IzumiScene_#2_-_Izumi">Scene #2 - Izumi</a></li>
            <li><a href="#Scene_#3_-_BeikaScene_#3_-_Beika">Scene #3 - Beika</a></li>
            <li>&nbsp;</li>
            <li><strong>Ключ</strong></li>
            <li><a href="#ПохолоданиеПохолодание">Часть 1. Похолодание</a></li>
            <li><a href="#ГермесГермес">Часть 2. Гермес</a></li>
            <li><a href="#ОжиданиеОжидание">Часть 3. Ожидание</a></li>
            <li><a href="#ЭкспансияЭкспансия">Часть 4. Экспансия</a></li>
            <li><a href="#АдаптацияАдаптация">Часть 5. Адаптация</a></li>
            <li>&nbsp;</li>
            <li><a href="#EpilogueEpilogue">Epilogue</a></li>
          </ul>





    //- Preamble
    .panel
      .column
        .preamble
          ul
            li title:  Г I Б Ξ Р Н Λ Џ I Δ . 0
            li start: 31.08.2018
            li update:
            li season: autumn
            li music: Astral Wolf - Un Sentimiento real

        audio(src="music/astral_wolf_un_sentimiento_real.mp3", preload="auto", type="audio/mpeg")


    //- Preface
    .panel
      .column
        img(src="https://i.imgur.com/WxQaC7Th.jpg").face
        h3.poem-title
          span.poem-title-top
            span.part-title Intro
          span.poem-title-bottom
            span.part-title Intro

        .content.proza
          p
            span.br Г I Б Ξ Р Н Λ Џ I Δ . 0 — поэтический пранк с заносчивой рифмой.
            span.br Приятные спазмы от свежего воздуха после дождя.
            span.br А ешё когда:

          ul
            li - не забыл ключ от дома
            li - лицемерно прочитал новости
            li - начало осени
            li - наступил в лужу и промолчал
            li - спросили, чем занимаюсь, но затруднился ответить
            li - приготовил собственный медиа-снаряд, пахнущий розами

          p.
            Г I Б Ξ Р Н Λ Џ I Δ . 0 — меж строчек обложено льдом. Это всё не я. Таков ареал подключения.
            Мне кажется ты меня ненавидишь. Хочешь-хочешь чтобы я простудился, проснулся рано утром или остался без кофе.
            Но я же всего лишь стих. Не беси меня!



    //- Quotes
    .panel
      .memories
        p Присвячується Джону Маккейну



    //- Preverse
    .panel
      .column
        .preamble
          ul
            li subtitle: Preverse

        img(src="https://i.imgur.com/oljHn1gl.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Preverse
          span.poem-title-bottom
            span.part-title Preverse

        .content.proza
          p.
            Я не люблю летать на самокате.

          p.
            Его вперед
            <br>
              &emsp;Толкать
            <br>
                &emsp;&emsp;Ногами надо.

          p.
            Ты задонать мне лучше… Самолет!!!
            <br>
            На нем удобнее летать по небу.
            <br>
            Пересекать его и взад и поперек.

          p.
            Его вперед
            <br>
              &emsp;Толкать уже не надо.
            <br>
                &emsp;&emsp;Сам разгоняется и прет.



    //- Quotes
    .panel
      .quotes
        blockquote.quote-block
          q.quote-caption Silence is argument carried out by other means
          p.quote-author ~ E. Guevara, <span>Jungle gangster</span>

        blockquote.quote-block
          q.quote-caption Those who expect to reap the blessings of freedom, <br> must, like men, undergo the fatigues of supporting it
          p.quote-author ~ T. Paine, <span>US(North) right man</span>

        blockquote.quote-block
          q.quote-caption За дурдомом лучше наблюдать со стороны
          p.quote-author ~ Сид, <span>Project "I" персонаж</span>



    //- Preface
    .panel
      .column
        .preamble
          ul
            li subtitle: Предисловие
            li music: Aricie Blackpolygons - Naiade
            li mood: funny
            li weather: raining

        audio(src="music/aricie_blackpolygons_naiade.mp3", preload="auto", type="audio/mpeg")

        //img(src="https://i.imgur.com/RAo6QLXl.jpg").face
        img(src="https://i.imgur.com/vQOFUUk.gif", alt="").face

        h3.poem-title
          span.poem-title-top
            span.part-title Preface
          span.poem-title-bottom
            span.part-title Preface

        .content.proza
          p.
            На осень в производстве новый проект.
            Рифмованный дайджест в стиле ключей для проекта "I" [1]:
            <ul>
              <li>
              - О том как обреченно опадают листья;
              </li>
              <li>
              - Как улучшается настроение от сжигания в памяти новых книжек;
              </li>
              <li>
              - Как обмораживает, когда вспоминаются давние события,
              смешиваясь с, холодящим кровь, ожиданием будущего,
              о котором кое-что известно пугающе не точно.
              </li>
            </ul>

          p.
            Изначально ключи создавались как своеобразные предисловия,
            в качестве эмоциональных шлейфов памяти выдуманных персонажей,
            но жанр эволюционировал в OOPS [2] — поэтические системы из стихов, сцен и прочих атрибутов,
            чтобы впитать в себя насыщенность событиями из real life. Но "I" остается неотъемлимой частью,
            вдохновляющей и развлекающей составляющей, смягчая субконтекстную трагедию.

          figure.figure
            img(src="https://i.imgur.com/dgJbtpKl.jpg").text-img
            figcaption.caption …смягчая субконтекстную трагедию

          p.
            При создании подобного очень понравилось общаться с сообществом.
            Например, <a href="https://lj.rossia.org/users/kyzma/746890.html">"Несносная строфирация"</a>
            или <a href="https://lj.rossia.org/users/kyzma/757677.html" target="_blank">"Грозовое предупреждение (цензурированное)"</a>
            мне кажутся наиболее получившимися из-за привнесенных вами идей и корректировок.
            Так и хочется ещё о чем-нибудь посоветоваться!
            Но одно дело неоценимая помощь при выпутывании из творческого кризиса,
            а другое — неприемлемая для меня эксплуатация вашего времени и внимания.
            Каждый проект это всё-таки личный вызов Автору,
            а также творческое развлечение и интеллектуальная разминка.
            Но если, что — большое спасибо за соучастие!

          figure.figure
            img(src="https://i.imgur.com/AOCo2hxl.jpg", alt="").text-img
            figcaption.caption Так называемая "бензоколонка" раньше представлялась социальной катастрофой

          p.
            В последних произведениях были упоминания про печально известное столпотворение.
            Не то чтобы я пытался кому-то что-то доказать или вызвать негатив.
            Есть настоящие авторитетные эксперты, которые несравненно доходчивее
            и с большим энтузиазмом разьясняют тему. Я скорее хотел себя остудить потому,
            что стал лучше разбираться в деталях. Так называемая "бензоколонка"
            раньше представлялась социальной катастрофой.
            Сейчас же в список добавилась и экологическая составляющая.
            Справедливо [геополитический пациент] кажется дохлым - запашок, видок,
            но держится же на клеточках — вполне живые, и размножаются довольно плодовито.
            И кажутся сблизи нормальными людьми.

          p.
            А как начнут [говорить]…

          p.
            "Жаль с Донбасом не успели, как с Крымом"
            <br>
            "Если бы не они пришли, то НАТО бы пришло"
            <br>
            Прочее…

          p.
            А когда [молчат]?

          p.
            "Поп изнасиловал и расчленил юную прихожанку"
            <br>
            "Семья алкоголиков поедала своих собутыльников"
            <br>
            Прочее… [3]

          p.
            И даже на одной из вершин "скалы Прометея" [4] и там нашлись кто
            выставил в совесть, где каждый день зажигается новая свечка.
            По случайному стечению обстоятельств и Портников
            в фабулу вписался. Говорит, что во всем виноват насильник-империя,
            а не изнасилованный народ, и этих людей прощать и спасать надо. [5]
            А что если это не империя, а состояние души — перевертыш, завистник, недоумок.

          p.
            Многим из моих просветленных знакомых справедливо хотелось бы чтобы
            Там всё в одночасье сгинуло со всем победоносным электоратом, эксандерами и прочим фольклером.
            Но как же заложники? Как же чистые души?! Их мало, но всё же есть… Например "Z".
            А экспорт? Сенцов, Балух, Карпюк, Тумгоев… [6]

          //-
            figure.figure
              img(src="https://i.imgur.com/X55V5ly.jpg", alt="").text-img
              figcaption.caption Но как же заложники?

          p.
            Кто-то спросит: "Разве в других странах нет коррупции и проходимцев?"
            Да! Всё как у людей, но в этих странах есть и те кем всё это зло преодолевается справделивыми мерами.

          p.
            А давайте в этом ключе разожгем минутку ненависти сразу ко всему человечеству!
            Недолго, чтобы не устать и заняться чем-нибудь полезным.

          p.
            Боженька, ты тоже активнее подключайся, пожалуйста.
            Чтобы появилось время помечтать улететь за пределы "проклятого космоса".
            Там встретит нас ККС и проведет ещё дальше. [7]

          p.
            Аминь. [8]

          p.
            *Обнимашки* [9]

          p.
            Приятного чтения.



        .annotation
          ol
            li.
              Проект "I" — сборник рассказов. В данный момент находится в разработке.
              <br>
              Сборник ключей "Волокно" опубликовано по url: https://skvortcof.github.io/b16/

            li.
              OOPS — Объекстно-ориентированная поэтическая система. В техническом разделе написал более подробное опредиление.
            li.
              [ссылка на сайт удалена, сори].

            li.
              Воспаление роя / Скала Прометея. (http://lj.rossia.org/users/kyzma/739851.html)
            li.
              UKRLIFE.TV ( https://www.youtube.com/watch?v=qsj_sXsfWBU )
            li.
              <a href="https://uk.wikipedia.org/wiki/%D0%A1%D0%BF%D0%B8%D1%81%D0%BE%D0%BA_%D1%83%D0%BA%D1%80%D0%B0%D1%97%D0%BD%D1%81%D1%8C%D0%BA%D0%B8%D1%85_%D0%BF%D0%BE%D0%BB%D1%96%D1%82%D0%B2%27%D1%8F%D0%B7%D0%BD%D1%96%D0%B2_%D1%83_%D0%A0%D0%BE%D1%81%D1%96%D0%B9%D1%81%D1%8C%D0%BA%D1%96%D0%B9_%D0%A4%D0%B5%D0%B4%D0%B5%D1%80%D0%B0%D1%86%D1%96%D1%97_%D1%82%D0%B0_%D0%B2_%D0%9A%D1%80%D0%B8%D0%BC%D1%83">[wiki link]</a>

            li.
              Из диалога Бейки и ККС (Проект "I")

            li.
              Не иронизирую.

            li.
              Иронизирю по https://geekfeminism.org/about/code-of-conduct/. Спасибо М.В.за подковывание в специфических вопросах современного социолизма.







    //- Scenes #1
    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Сцена 1. Архангельск / КПЗ / Фрэнк

        img(src="https://i.imgur.com/REwEg62l.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Scene #1 - Frank
          span.poem-title-bottom
            span.part-title Scene #1 - Frank

        .content.proza
          p.
            Фрэнка закинули в переполненную камеру. Сокамерники помогли подняться.
            Спросили за что попал, всё ли ровно по жизни, а также как зовут и откуда.
            Он не понимал местный диалект, а что выучил из разговорника забыл.
          p.
            Сид знал бизнес-английский и кое-как помог с общением и выбором "погремухи".
            Хотели дать ему погонялово созвучное с "Пиндонстаном" и " Обамой", но остановились на "туристе".
            Это Сид помог Фрэнку: "Speak "ne kanaet"! I'll tell you when you shoud ассеpt".
            Подошел положенец КПЗ и стал расспрашивать про статью. Фрэнк объяснил, что за туризм. Все долго смеялись.

          p.
            …

          p.
            В полночь Сида вызвали к следователю. Пугали бутылкой и заставляли написать какие-то признательные бумаги.
            Сид знал, что без адвоката говорить с ними нельзя, но запросить защиту значило нарваться на пытки.
            Нужно было дипломатично и аккуратно спасти себя. Главное представить, что находишься среди пиратов.
            / Автор никогда не был в таких ситуациях поэтому, то что он "считал" из головы Сида может быть приукрашено
            или нафантазировано, чтобы сгустить суровые краски выдуманной действительности.
            Пожалуйста, просто лучше не попадайтесь, а ещё лучше будьте готовы попасться /.

          p.
            Где-то через полчаса допроса закорефанился со следователем. Оказывается младший сын следователя бывший сокрурсник Сида,
            погибший при шутинге в универе. Сид тогда чудом остался жив.

          p.
            — Лан, [иди] до дому. Хотя постой.
          p.
            Следователь разлил по 50 грамм собравшимся водки "Десантная". Отрезал финкой половину своего бутерброда Сиду.

          p.
            — Так вот документы. А это на обратную дорожку.
            <br>
            — Благодарю.

          p.
            …

          p.
            Сид вышел на улицу и пошел к остановке. Позвонил родителям, сообщил, что попал под рейд на митингующих,
            но уже отпустили. Купил крекеров и "кофе с собой". Пошел на набережную Белого моря. Лавочки оказались не занятыми
            только рядом с цыганами. Присел на лавочку. Пока пил кофе "захомячил" 4 крекера. Вызвал такси. Стал раздумывать о том как
            спасти Фрэнка.





    //- Scenes #2
    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Сцена 2. Нижние сферы Блага / Кай / Изуми

        img(src="https://i.imgur.com/T3eBOE4.gif").face

        h3.poem-title
          span.poem-title-top
            span.part-title Scene #2 - Izumi
          span.poem-title-bottom
            span.part-title Scene #2 - Izumi

        .content.proza
          p.
            Кай был счастлив редчайшему взаимопониманию.
            В благодарность отвинтил Изуми голову, чтобы быстрее проветрилась и остыла.

          p.
            Достал чистящее средство и тряпку. Натёр ей линзы и мнимые глазки.
            Потом взял ёршик и до блеска прочистил ротовой приниматель.

          p.
            "Горячая штучка… А может всё-таки обменяться с ней информацией?" — Кай привинтил её голову на место.
            Отвинтил свою и продолжил тех. обслуживание. — "Мне бы не хотелось её взламывать,
            но чтобы не тратить впустую время может обойтись без взаимного согласия?
            Я же из лучших побуждений! Мой опыт ей бы пригодился".

          p.
            У ихней расы было разделение на мужской и женский носитель информации.
            Несанкционированный обмен в Блага запрещен и приравнивается к харассменту мозгового центра.
            Для законного обмена данных должен быть подписан предварительный договор и заверен в ближайшем отделе
            записи актов взаимного согласия. Казалось бы процесс обмена длился совсем не долго — несколько секунд,
            но без специальных помощников-корректоров и дефрагментаторов информация иногда дублировалась
            в нежелательные самосознающие модули, требующие пересадки в новый роботизированный носитель.

          p.
            Кай всё же решился. Достал проводок прямой передачи информации и стал искать куда его воткнуть.
            На привычном месте порт отсутствовал,
            а вместо него древним шрифтом в цветочках и бабочках был выгравирован серийный номер и никнейм L❀uie.
            Оказывается Изуми не достигла ещё совершеннолетнего времени существования,
            чтобы получать данные напрямую. У неё просто отсутствовал модуль входа.
            Получать информацию она пока могла лишь визуально, тактильно и вербально.

          p.
            Кай разочарованно свернул бесполезный проводок обратно внутрь.
            Начал взламывать оперативку.

          p.
            …

          p.
            — Пока ты перезапускалась Я хотел тебе сделать сюрприз. Закачал много новой информации по боевой технике и выживанию.
            А у тебя оказывается порт отсутствует. Ты не совершеннолетняя?
            <br>
            — Совершеннолетняя. Точнее "совершеннолетнее". Я пока ещё гендерно-нейтральная.
            Всё будет зависеть от Избранного. А разъем хранит бабушка в сейфе.
            Меня же бережет, а то я падкая не только на полезную информацию.
            Ой, Это вы мне и первичную лицевую маску начистили и разукрасили? Спасибо огромное!
            <br>
            — Ага, пока ты в себя приходила и фрагментировалась в бэкенде я занялся твоим frontend и middleware. Оперативку посмотри.
            Ещё оцени какие вокруг бантика вырезал свойские орнаменты. Ещё несколько дырок просверлил на грудной пластине — лайфхак такой,
            теперь быстрее будешь охлаждаться.
            <br>
            — Ухожу в себя. Минуточку. Ой, вижу. Ничего себе. Столько полезного скопировали. А можете меня ещё чему-нибудь научить,
            а я пока параллельным потоком буду переносить данные во внутреннее флеш-ядро?
            <br>
            — Ок. Смотри как правильно подкрадываться к врагу!

          p.
            …

          p.
            — Ещё, ещё!
            <br>
            — Смотри как петь, танцевать и управлять звездолетом.

          p.
            …

          p.
            — Ещё, ещё!
            <br>
            — Я не могу дать всего чего ты хочешь. [1]
            Всё что касается боевых навыков, прикладного искусства и основ традиционной мускулинности я тебе скопировал!
            <br>
            — А можно хвост и плавник одолжить на дорожку? Я потом верну.
            <br>
            — Нет. Они же на балансе БРУ находятся. Когда вернусь с меня спросят.
            Кстати, а что это за мощный сигнал передачи данных по центральной спинно-реберной антенне?
            <br>
            — С бабушкой общаюсь на параллельном потоке.
            <br>
            — Так она нас всё это время наблюдала? И даже как я воспользовался твоей отключкой?
            <br>
            — Да.
            <br>
            — Ох! Мне на 65% стыдно! А вероятность вреда моей Карьере предчувствуется на 95%!
            <br>
            — Нет. Бабушка передает привет и говорит, что всё в порядке.
            Вы же из лучших побуждений воспользовались моей отключкой и поэтому не напишет на вас заявление.

          p.
            …

          p.
            Летающий шар спустился в отверстие сферы, освещая её поверхность, изукрашенную звездами.
            И лавируя между гигантскими столпами соединяющими поверхность нижней сферы.
            На этом круге начался день.
            Из многоэтажек начали выходить существа.
            У каждого к голове был приделан шлем.

          p.
            …

          p.
            Изуми включила голограмму, но местные окружили и зажали в тиски.
            Она боялась пошевелиться чтобы никого не придавить.
            Начали растаскивать.
            Пришлось бежать.

          p.
            …

          p.
            Изуми все-таки добыла у Кая хвостик (напоминающий кошачий) и тактический плавник (напоминающий акулий).

        .annotation
          ol
            li Фраза из "Властелин Колец: Возвращение короля". Диалог между Арагорном II и Эовин.




    //- Scenes #3
    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Сцена 3. Альпы / Бейка / Мэт

        img(src="https://media-cdn.tripadvisor.com/media/photo-s/01/00/54/b6/view-of-swiss-alps-from.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Scene #3 - Beika
          span.poem-title-bottom
            span.part-title Scene #3 - Beika

        .content.proza
          p.
            Бейка опять упала.

          p.
            Лежит с переломанным позвоночником на дне ущелья.
            Полушепотом напевает A Whiter Shade Of Pale, отплевываясь кровью.
            Боль не чувствуется. Не пошевелиться.
            Счастлива, что в сознании.

          p.
            "Может я уже умерла?"

          p.
            Накатила волна боли, развеяв иллюзии.

          p.
            Прерывистое дыхание.
            Покрывает слоями снежинок.
            Темнеет. Теплеет.

          p.
            — Пора.

          p.
            ККС визуализировался в виде мерцающего плюшевого медвежонка.

          p.
            — Точно пора или ещё поживешь?
            <br>
            — Ой, давно так не виделись. Вот увидела тебя и лучше стало ). Ещё поживу!

          p.
            С медвежонка во все (лицевые) отверстия Бейки начал просачиваться густой радужный дымок.

          p.
            — Может и зубик восстановим?
            <br>
            — Не. Это напоминание не принимать седетативов. Мне оказывается из-за них плохо было.
            В школе диагноз неправильно поставили. Потом переломало и ничего…
            <br>
            — Ещё поболит с недельку. Нервные узлы в верхней части мозга не распутывал поэтому останется фантомная боль,
            которая через месяц сама пройдет. А что с твоим мужем делать? Почему он не полез тебя спасать?
            <br>
            — Я же в глубокую пропасть подскользнулась! И погода очень плохая. Решил, что погибла.
            <br>
            — Всё, можешь двигаться.
            <br>
            — А? Ага, поползла. Спасибо за обезболивающее и восстанавливающее.
            <br>
            — Постой. — Медвежонок ухватил Бейку за ногу дымным отростком. — Есть просьба.
            Как вернешься из отпуска отнеси меня папе.
            <br>
            — Хорошо. А что там у него опять?
            <br>
            — Хм… Инструкция.

          p.
            …

          p.
            В домик кто-то постучал. Мэт открыл дверь. На пороге жена в полуразобранном состоянии.
            Бейка была в процессе заживления и поэтому выглядела не очень —
            торчащие кости сломанных ребер, перекошенная челюсть и пустеюшая глазница.

          p.
            Мэт упал в обморок.
            Когда падал, ударился головой об стол.
            Со стола соскочил нож и воткнулся ему в бок.

          p.
            — Я же хотела пошутить, дорогой.

          p.
            Бейка прильнула к шее мужа и начала пить из него кровь.

          p.
            Дело в том, что в процессе заживления она думала о том как бы весело стать вампиром.
            Восстанавливающее средство ККС изменило организм Бейки под её желания.
            Но бейка отпила совсем чуть-чуть. Вкус ей не понравился.
            Так как она себе слабо представляла, что такое вампир,
            то можно было долго обходиться без крови,
            появились прикольные острые звуки, слегка заострились ушки,
            слегка побелела кожа, а глазки стали с розовым отливом и ночью стала лучше видеть.

          p.
            За окном разыгралась снежная буря.
            Ещё раз попробовала дозвониться в скорую. Бесполезно.

          p.
            Рана от ножа оказалась не глубокой. Чуть-чуть порезался.
            Да и Бейкины слюнки оказались целебными. С головой осталась проблема.

          p.
            Бейка забинтовала мужа.
            Уложила его в кровать,
            А в кровати, в спальный мешок, а в спальный мешок сама забралась.
            Потом вылезла так как, забыла развести огонь в печке.

          p.
            Чуть не устроила пожар.
            Потом, чуть не уснув, учуяла угарный газ.
            Опять вылезла, прочистила дымоход.

          p.
            Села за стол. Сделала кофе в турке.

          p.
            Буря не утихала двое суток.

          p.
            …

          p.
            Бейка пришла по указанному адресу к странному дому.
            Окна заколочены. Дверь открыта.
            На полу валялись провода и остов какого-то механизма,
            Куски разбитой статуи.
            Бейка оставила мишку у статуи и пошла обратно к машине




    //- Logo
    .panel-logo
      .logo
        - for (i = 0; i < 40; i++)
          .text
            .text_inner1
              .text_inner2 #{$text}






    //- Poem
    .panel
      .column
        .preamble
          ul
            li subtitle: Часть1. Похолодание
            li mood: excited
            li slogan: Именно так выглядит моё откровение
            li music: Memex - Anima

        audio(src="music/memex_anima.mp3", preload="auto", type="audio/mpeg")

        img(src="img/lain-rain.gif").face

        h3.poem-title
          span.poem-title-top
            span.part-title Похолодание
          span.poem-title-bottom
            span.part-title Похолодание


        .content
          p Казалось бы Тут типичный загончик для Нас.
          p И прочих союзов под сенью…
          p &emsp;Бесценная бездна сверху. [1]
          p <br>
          p Но Мы по природе свободны и рвемся из клеток.
          p И даже…
          p Удобствами плена не удержать.
          p Без пощады. [2]
          p Где ярче рассвет.
          p Тянет.
          p Любой,
          p &emsp;кто увидит чуть больше за окнами.
          p Встанет.
          p Станет немножко умнее.
          p <br>
          p И что же? [3]
          p От штиля до шторма в нормах традиций.
          p Спасает.
          p На время томление в играх пытаясь унять
          p Дремучую смесь из сомнений.
          p Не избежать!
          p <br>
          p Объясните мне фокусы чувств,
          p &emsp;деформацию воли,
          p &emsp;&emsp;предложенный выбор. [4]
          p О, лучше по новой, вдали от приятного отдыха.
          p И почему?
          p Почему лишь в аду? ОБЪЯСНИТЕ!
          p Почему лишь в Аду встретить ту настоящую душу, ради которой на Всё.
          p Можно.
          p Готов.
          p &emsp;За неё пережить снова зиму.
          p Чужую холодную страсть.
          p Укутает снегом отвратную грязь;
          p &emsp;cтлеет в союзе испариной в солнечном свете. [5]
          p <br>
          p Не долго осталось мне ждать,
          p &emsp;упиваясь осенним цветением падшей листвы.
          p Прямо сейчас.
          p Смеяться можно.
          p О том как хорошо
          p &emsp;Будет летом.
          p Что нет и не будет ресурсов вложиться в мечты.
          p Не обрадуют купленным лоском они —
          p &emsp;Фальшивые радости, сродни разбитой любви.
          p Не получилось успеть,
          p &emsp;но так честно.
          p Быть "быстро".
          p Землю счастливей и чище.
          p Оставив готовое втуне после себя.
          p Красиво.
          p И бесконечной судьбы не будет,
          p &emsp;перерождений.
          p Не нужно! [6]






    //- Quotes
    .panel
      .quotes
        blockquote.quote-block
          q.quote-caption.
            В каждом из нас есть другой. Рассказывает во сне, как иначе нас видит по тому, как мы себя видим.
            Когда мы оказываемся в тяжелой ситуации, он может разжечь свет, который радикально меняет наше отношение —
            то самое, которое привело нас к серьезным проблемам.


          p.quote-author ~ К. Юнг, <span>философ-психотерапевт</span>




    .panel
      .column
        .preamble
          ul
            li subtitle: Часть 2. Гермес
            li mood: serious
            li music: Ursula's Cartridges - Radiation Rules the Pacific

        audio(src="music/radiation_rules_the_pacific.mp3", preload="auto", type="audio/mpeg")


        .slider
          div
            img(src="https://i.imgur.com/O58xe0F.jpg").face
          div
            img(src="https://i.imgur.com/qRDdQ8yl.png").face
          div
            img(src="https://i.imgur.com/8IARvU0l.jpg").face
          div
            img(src="https://i.imgur.com/zZ0t4hhl.jpg").face
          div
            img(src="https://i.imgur.com/x2W6JDtl.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Гермес
          span.poem-title-bottom
            span.part-title Гермес

        .content
          p Что с нами стало?
          p Не важно.
          p И так хорошо.
          p Новый день примерять в свои чувства.
          p Приятно.
          p Пришлось
          p &emsp;Отпустить самому интуицию в дождь.
          p Грести до отказа по новой несмотря на начитанность.
          p Промокнуть со всеми.
          p Скопилось.
          p Слилось.
          p То королевство всё ваше.
          p Всё дальше.
          p Загубленных душ,
          p &emsp;похищенных с детства.
          p Кислотным осадком навзрыд.
          p Провожает.
          p [Проклятое Бедствие],
          p &emsp;Всех не отравишь и не посадишь!
          p Обидно тебе?
          p Не понимаешь.
          p Отвернутым ликом жадно хлебаешь,
          p &emsp;смочив зарубежным сиропом, свои же ошибки.
          p <br>
          p Не страшно.
          p Все больше.
          p На место встают за погибших, замученных.
          p Лучше.
          p Твои беспощадные мышки стараются тоже.
          p Не устают.
          p Просят…
          p И им продают.
          p Почти за бесплатно покушать.
          p Новые жертвы.
          p Армия проклятых и обреченных,
          p &emsp;ослепших от жадности тушек,
          p &emsp;&emsp;праздников ждет. [7]
          p <br>
          p М-м…
          p Я заставлю молчать своё первым.
          p Расстрелял занавесками окна.
          p Для тебя лишь одной раскричался
          p в незаконно одетой коробке (наверное).
          p — Ты же знаешь зачем умираем!
          p Посмотри на мою биомаску.
          p Не лжет ли она,
          p &emsp;не на сон ли надета
          p &emsp;&emsp;ведь правду скупили за дорого где-то.
          p Её не найти.
          p <br>
          p Как же срывает бежать от реалий во льды
          p &emsp;зарытых секретов.
          p С шахтерской лопатой.
          p Чужие труды —
          p &emsp;Драгоценное время и сладкие тайны сгребать и дарить.
          p Рядом.
          p Топка.
          p Так близко,
          p &emsp;что чувствую запах угля и гари
          p &emsp;&emsp;в области сердца.
          p <br>
          p Нечем помочь. "Мы хотим торговать!"
          p Готовы изгибы под новые правила слабых,
          p &emsp;но супер-настойчивых homo aequalis.
          p Во всем согласиться и руку пожать,
          p &emsp;лишь бы поспать подольше.
          p Так не получится!
          p А можно мне тоже продать?
          p Немного [чего-нибудь].
          p Дешево. [8]





    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Часть 3. Ожидание
            li date: 1:29 10/9/2018
            li weather: last sunny days
            li music: Fuck Buttons - Hidden XS

        audio(src="music/fuck_buttons_hidden_xs.mp3", preload="auto", type="audio/mpeg")

        img(src="https://i.imgur.com/VS8cAIrl.jpg").face


        h3.poem-title
          span.poem-title-top
            span.part-title Ожидание
          span.poem-title-bottom
            span.part-title Ожидание

        .content
          p Свободы ещё.
          p И правды немножко.
          p Отмерить.
          p И по живому.
          p Кусочки.
          p Поджарить и с хлебом.
          p Можно.
          p На площадь согнать.
          p Украсить столбы.
          p За спину руки сложить.
          p — Сдави моё горло чтобы я перестал так шутить!
          p Неосторожно.
          p И нет.
          p Не серьезно.
          p Уже не смешно.
          p <br>
          p Окунуться бы в дождь, чтоб успокоиться.
          p Нужно.
          p Всё потерял, признаться специально…
          p Сгорает чужое.
          p Это как наказание —
          p &emsp;делать неправильно.
          p В рамки исправить,
          p &emsp;творя беззаконие сборкой плохого.
          p <br>
          p Жаль, Толкин был не готов.
          p Предсказать, что не в лоб —
          p &emsp;с Мордорских загонов жидким потоком сочится по улицам массой похожих.
          p В законе,
          p &emsp;медалях,
          p &emsp;&emsp;героев и
          p &emsp;&emsp;обстоятельств. [9]
          p <br>
          p Больше чем триста.
          p Остался один.
          p Самый мирный и молчаливый.
          p Битые же остальные.
          p Поник расцветающий край,
          p &emsp;спасения ждать перестал.
          p <br>
          p Не снести. [10]
          p <br>
          p С собой навезли стай и соли.
          p Дружно клюют на детской площадке.
          p Крыта земля и нет ничего,
          p &emsp;что когда-то было похоже на дом.
          p <br>
          p Не снести. [11]
          p <br>
          p Бора торопит собраться сойти.
          p Заприродной заботы на сторицу.
          p В списке заданий само разотлелось и спорится.
          p Пожалеть ещё может захочется. [12]
          p Дело не в этом.
          p Всё просто.
          p С вдохновением самоугробиться,
          p &emsp;на своих же силки — приятно туда подловить.
          p Унизить,
          p &emsp;оформить,
          p &emsp;подставить,
          p &emsp;&emsp;сломать и забыть. [13]
          p <br>
          p Лишь своих испугали стрельбой.
          p Пока не понятно?
          p Но уже проиграли.
          p Не нужно бежать.
          p Не нужно спасаться.
          p Нам не ужиться! [14]
          p Поэтому так стало тихо.
          p И поздно ровнять.
          p В компьютерной сети без извинений.
          p Нечего скрыть.
          p Надоедает.
          p Ничего не останется ценного.
          p Падать в руки крылатых фраз прийдется.
          p <br>
          p Дружба меняется тоже.
          p За контентом полез,
          p &emsp;а Ты держишь мои озверевшие лапы своими глазами.
          p Что там скрывает Селье?
          p Его не хватает выкопать всё, что скопилось.
          p Ещё бы кого призвать и убедиться,
          p &emsp;что меня бы устроил финал
          p &emsp;&emsp;этой сказки.



    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Часть 4. Экспансия
            li mood: relax
            li date: 17:02 10/22/2018
            li music: Caithness - Loin De La Lumière

        audio(src="music/caithness_loin_de_la_lumiere.mp3", preload="auto", type="audio/mpeg")

        img(src="https://i.imgur.com/8uOifvtl.jpg", alt="").face


        h3.poem-title
          span.poem-title-top
            span.part-title Экспансия
          span.poem-title-bottom
            span.part-title Экспансия

        .content
          p Растерялося одиночество;
          p &emsp;разукрашено в яркие краски отчаяние.
          p Что с собой принести?
          p Ритуалов остатки,
          p &emsp;начало —
          p &emsp;&emsp;по новой к покою и безопасности. [15]
          p Форма тоски снова в роскошь.
          p Жмется сухая листва в каменный кров
          p &emsp;от внимания тяжести.
          p <br>
          p Может стоит устать и расслабиться? [16]
          p Может пусть дальше стараются те
          p &emsp;кому нравится и интересно
          p &emsp;узнать чем всё закончится
          p &emsp;в эти редкие дни
          p &emsp;&emsp;удивительных действ.
          p <br>
          p Форма аддикции, чтоб оправдаться в задержках.
          p "Масленок нашел под сосной", —
          p &emsp;так пытаюсь общаться,
          p &emsp;но объяснить, что случилось
          p &emsp;&emsp;могу лишь себе.
          p <br>
          p Вышел за дверь — приземлился,
          p &emsp;поняв, что без крыльев поднять свою массу на нет,
          p &emsp;&emsp;но как частный случай возможно.
          p <br>
          p Так скорее всего не интересно выслушивать,
          p &emsp;а я
          p &emsp;только начал учиться читать,
          p &emsp;&emsp;заглянув в популярные стримы.
          p В целом опять как обычно.
          p Старые версии пляшут и дышат.
          p Спешат поживиться,
          p &emsp;врываться в мои интересы.
          p Ломать и топтаться,
          p &emsp;ругаться и лаять…
          p Сколько актуально нас должно остаться после зимы?
          p <br>
          p Всё готовится холоду.
          p Смотрел наперед,
          p &emsp;закрывая замок за собой.
          p Став собой, стало скучно в полезных идеях.
          p Опустевший дворец заселили другие —
          p &emsp;кто долго жил в нищете.
          p Им доказали, что Его уже нет.
          p И можно себе ни в чем не отказывать. [17]
          p Из магазина вернулся —
          p &emsp;значит понял и принял правила.
          p Можешь считать — отвернулся
          p &emsp;от отражений живого.
          p <br>
          p Куда я попал?
          p В Настоящее.
          p Усеяно в каждой точке реальностью.
          p И как видишь, понятно, что двигаться нужно
          p &emsp;к теплу.







    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Часть 5. Адаптация
            li mood: frozen
            li weather: rainy
            li date: 0:52 10/28/2018
            li music: Esoctrilihum - Prayer Of The Lamented Souls

        audio(src="music/esoctrilihum_prayer_of_the_lamented_souls.mp3", preload="auto", type="audio/mpeg")

        img(src="https://i.imgur.com/vtgGc9Ll.jpg", alt="").face


        h3.poem-title
          span.poem-title-top
            span.part-title Адаптация
          span.poem-title-bottom
            span.part-title Адаптация

        .content
          p Сквозь марево.
          p Лишь пустота встречает,
          p &emsp;но со спасительным 3G.
          p То проливным до ночи;
          p &emsp;в изморозь окно украсит утром —
          p &emsp;&emsp;пытается развлечь. [18]
          p <br>
          p У очагов Чужие неприветливо моргают.
          p Друг другу улыбаются из запотевшего окна,
          p &emsp;элитным кофе наслаждаясь.
          p Готовы опрокинуть за сочувствие.
          p Возможно.
          p Так похоже…
          p <br>
          p В раздумьях про PC,
          p &emsp;что не совсем оно для них.
          p И как тревожность загасить,
          p &emsp;и как остановить конфликт
          p &emsp;и не нарваться на,
          p &emsp;односторонне принятых,
          p &emsp;&emsp;Своих. [19] [20]
          p <br>
          p Ознобшим котей отхожу,
          p &emsp;поджавши хвост,
          p &emsp;&emsp;расширив глазки к верху.
          p А там вороной облетаю крыши.
          p Присел, на ратушу,
          p &emsp;клюю веб-камеру,
          p &emsp;&emsp;и какаю на головы прохожих.
          p <br>
          p Потом обратно в алко-профиль волка ухожу.
          p В лесной запой — в незнание физических законов
          p &emsp;и разговорно иностранных языков.
          p До насморка бродить.
          p <br>
          p Оттуда в виртуальный перебор,
          p &emsp;где мысли скачут, оплетая лысину.
          p И оседают мертвым грузом из воспоминаний.
          p Внутри скопились в силуэт.
          p Оживший и голодный.
          p C покоем как ледник, до горизонта уходящий.
          p Гибернацид уже не страшен.
          p Когда есть вдохновение,
          p &emsp;то можно пережить шторма,
          p &emsp;и стать свидетелем (Зимы).
          p <br>
          p Лишь просьба.
          p Задержать меня ещё немного,
          p &emsp;чтоб запастись последними лучами.
          p Вспомнил.
          p У моря, прочитал про самоциолизм.
          p Как правильно сидеть на корточках и пальчики сложить.
          p <br>
          p О том как накатило — такое видел.
          p Но то уже совсем другое.
          p Когда почти без пуль из армии актеров, камер, фондов.
          p Повсеместно.
          p Заборы не спасут.
          p Кормите лучше.
          p <br>
          p Вроде как ослаб.
          p Но то приятная усталость после бури.
          p Лицо смеется, зная что всё будет хорошо.
          p И хорошо — не слышно их страданий.
          p Так далеко уж от своих.
          p За то с собою рядом.
          p <br>
          p И не в последний раз в заплыв.
          p Маяк теряется из виду.
          p Но яркий золотой огонь уверенность вселил.
          p В другую строну форсаж.
          p Пусть остается рядом,
          p &emsp;обратно направляя в человечность.
          p А в целом ничего не изменилось.
          p Не хочется грести, а надо.
          p Космический объект куда-то тоже.
          p В масштабах бесконечности. И…
          p С учет всех почти
          p &emsp; переменных.

        .annotation
          ol
            li.
              Как и с Бейкой — "тут" тоже у каждого своё, но в данном случае социально-экологическое бедствие.
              <br>
              Кто не в курсе спросит: "А что это такое социальное и сразу экологическое бедствие? Неужели опять про Это?" Да!
            li.
              А некоторым нравится. Тоже люблю дома в уюте.
            li.
              А за окном вынужденная эмиграция.
            li.
              Голод и смелость, как разновидности страха.
            li.
              Люблю зимку, но конкретно эта, надвигающаяся зима, не по душе. Возможно я не прав. Прийдется и проверить.
            li.
              И череды перерождений не будет тоже.

            li За это время Р. привнесла для К. своё типичное:
              ul
                li
                li - экологическую катастрофу
                li - необъяснимые отключения воды и электричества
                li - невообразимо уничтоженные дороги
                li - браконьерство и варварскую добычу природных ресурсов
                li - диких ублюдков нашествие разнонародья
                li - чистые души в катакомбы; пытать; пропадать без вести
                li - мост для быстрой переброски военной техники

            li.
              8.
              James A. Lindsay, Helen Pluckrose and Peter Boghossian wrote 20 fake scholarly papers and had several accepted and published in journals.
              https://www.nytimes.com/2018/10/04/arts/academic-journals-hoax.html

            li.
              Не только жидким, но жутким тоже

            li.
              А ещё убежали, а ещё адаптировались, а ещё звенят кандалами они.

            li.
              А ещё странного пива навезли и просроченных продуктов

            li.
               https://gordonua.com/news/crimea/politolog-paliy-krym-na-vazhnom-zadanii-v-tylu-vraga-istoshchaet-ego-kaznu-146407.html

            li.
              В том числе и умышленное членовредительство

            li.
              Дело даже не в шутингах, а в культивировании военщины.

            li.
              "Краски отчаяния" можно сгенерировать тут https://codepen.io/meodai/pen/RerqjG

            li.
              А точнее жмется желудок.

            li.
              Конечно есть! Но только не нужно пытаться понять - съедешь с волны, ничего не найдя, или сойдешь с ума.

            li.
              Под праздничным нарядом подразумевается смешивание городского и индустриального белых шумов, пейзажей, запахов.

            li.
              Возможно для роботов. Political correctness (https://en.wikipedia.org/wiki/Political_correctness)

            li.
              Нужно делать мир вокруг себя лучше, понятнее. А так по новой - истощенность > отчаяние > доступ к оружию





    .panel.panel-alone
      .column
        .preamble
          ul
            li tracks

        .content

          ol
            li Astral Wolf - Un Sentimiento real (https://www.youtube.com/watch?v=alktVuNuBcY)
            li Black Polygons - Article (https://www.youtube.com/watch?v=TXMI-RcRRNY)
            li Fuck Buttons - Hidden XS (https://www.youtube.com/watch?v=47C9K9IEjMg)
            li Memex - Anima (https://www.youtube.com/watch?v=_kNK6eNAL7g)
            li Memex - Theatre of Mirrors Masque (https://www.youtube.com/watch?v=zSLFodphvIk)
            li Ursulas Cartridges - Radiation Rules the Pacific (https://soundcloud.com/ursulas-cartridges/radiation-rules-the-pacific)
            li Exandroid - PROWLER (https://www.youtube.com/watch?v=rMcoNm-zHj0)
            li Esoctrilihum - Prayer Of The Lamented Souls (https://www.youtube.com/watch?v=pSw9tetB-eM)
            li Bob Lesh - Get a Long (https://soundcloud.com/bob-lesh/get-along?in=bob-lesh/sets/a-bunch-of-shit-i-did)


    .panel
      .column
        .preamble
          ul
            li inspiration

        .content
          ol
            li.
              Корчинський: Видача Тумгоєва Росії - це підрив морального духу української армії та нації
              (https://www.youtube.com/watch?v=n-H3MFTMudk)

            li.
              Hieronymus Bosch (https://en.wikipedia.org/wiki/Hieronymus_Bosch)

            li.
              https://twitter.com/The_Ukrcartel

            li.
              A. Vivaldi, Concerto per mandolino, 2 Largo, for soprano and tenor recorder (https://www.youtube.com/watch?v=0rurhnB0RLU)

            li.
              http://beksinski.dmochowskigallery.net/galeria_past.php?lang=e



    .panel
      .column
        .preamble
          ul
            li images

        .content
          ol
            li.
              https://www.deviantart.com/incatenata
            li.
              https://www.artstation.com/toraji
            li.
              Cover from https://www.youtube.com/watch?v=w9m5r9h-qC0
            li.
              https://www.instagram.com/radioshead
            li.
              http://www.popaganda.com
            li.
              http://www.gildedraven.com
            li.
              https://www.artsy.net/artwork/mike-davis-unexpected-guest


    .panel
      .column
        .preamble
          ul
            li privacy

        .content
          ol
            li.
              I don't use any tracking tools or cookies


    //- technical


    .panel.panel-alone
      .column
        .preamble
          ul
            li Технический раздел. Процесс создания и теоретические выкладки

        img(src="https://i.imgur.com/xHZCCfVl.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Technical
          span.poem-title-bottom
            span.part-title Technical

        .content.proza
          p.
            Традиция складировать стихотворения на бумаге сменилась на "заливку" в интернет.
            Возможности виртуальности раширили творческий границы, спасая деревья и
            смешавшись с продуктами фотошопа, видео-эффектами и прочим.

          p.
            Стих остался тем же, что и раньше — равлечением, бредом, оскорблением или завуалированным воспоминанием.
            Для меня — творческое занятие, разбавляющее рутину, и источник для размышлений.

          p.
            Со сборником рассказов получается, но туго. За-то стихотворений, писавшиеся для него (Проект "I"),
            уже больше чем надо. И ещё хочется! Новые идеи превращаются не только в новые строки, но и в теоретические выкладки.

          p.
            Вот несколько определений, возникших у меня в процессе создания этого ключа.

          p
            strong OOPS (Object-oriented poetical system)

          p.
            Объекстно-ориентированная поэтическая система — структура состоящая
            из атрибутов, не зависящих от приемов и техник, но взаимосвязанная
            совокупностю творческих методов для декорирования поэтического поля.

          p.
            Позволяет упростить анализ стихотворения (но не его понимание).
            Разрабатывается с готовыми шаблонами для заполнения информацией.

          p.
            Цель — сделать стихи интересными и полезными хотя бы для себя потому, что возможно они "никому не нужны" (По крайней мере так считает дзен-собака из ключа <a href="https://lj.rossia.org/users/kyzma/729330.html" target="_blank">"За чувствами"</a>).

          p
            strong Preverse

          p.
            Преверсия — атрибут OOPS. Введен из-за необходимости добавить стихотворное предисловие.
            <br>
            Как правило — краткое ироническое стихотворение на социальную тему.

          p
            strong Scene

          p.
            Сцены служат в качестве краткого плана, отвлечения от стиха или подготовить к нему.



    //- Epilogue
    .panel.panel-alone
      .column
        .preamble
          ul
            li subtitle: Послесловие
            li music: Bob Lesh - Get along

        audio(src="music/boblesh_getalong.mp3", preload="auto", type="audio/mpeg")

        img(src="https://i.imgur.com/RAo6QLXl.jpg").face

        h3.poem-title
          span.poem-title-top
            span.part-title Epilogue
          span.poem-title-bottom
            span.part-title Epilogue

        .content.proza
          ul
            li Отвлеченные впечатления от эмоциональных срезов актуальных событий.
            li Принудительный выход из цикла ритуалов — НГ, ДР, поминалки.

          p.
            А если вкратце, то смысл стиха в том, что не хочется никуда вылазить из области комфорта,
            но природные и политические явления выталкивают к лучшему, особо не церемонясь.

          p.
            <a href="https://goo.gl/forms/kkhAq4WdU0duOnjU2">Contact form</a>

    .panel.panel-alone
      .column
        .preamble
          p ■ 29.10.2018


  script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
  script(src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js")

  script(src="js/audiojs/audio.min.js")
  script(src="js/jquery.toc.js")
  //- script(src="js/jquery.link.min.js")
  script(src="js/app.js")


